<section class="bg-grey" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Our Journey</h2>
            </div>
        </div>
    </div>
	<hr>
    <div class="container">
		<div class="tree">
			<ul>
				<li>
					<img data-popuptext="I am a CSS-only popup!" src="img/journey-lightbulb.png">
				</li>
				<li>
					<img src="img/journey-agritecheast.png">
				</li>
				<li>
					<img src="img/journey-incubator.png">
				</li>
				<li>
					<img src="img/journey-gettingready.png">
				</li>
			</ul>
		</div>
    </div>
</section>
