<section id="aboutUs" class="bg-grey">
	<div class="col-lg-12 text-center">
		<h2 class="section-heading">About Our Team</h2>
	</div>
	<hr>
  	<div class="row">
    	<div class="col s12 m6">
      		<div class="card">
        		<div class="card-image">
          		<img style="height:100px;width:auto;" src="../img/buyer1.png">
          		<span class="card-title">Card Title</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div>
	<div class="card--content">
			<img class="card-img-top img-circle" src="img/pic-jacqui-circle.png" alt="David" />
			<h4 class="card-title">Dr. Jacqui Poon</h4>
			<h6 class="text-muted">CEO and Co-founder</h6>
			<p class="card-text">Jacqui coordinates business and product development and oversees partnership engagement. She holds a doctorate in plant pathology (2016) from the University of Cambridge and has a background in post-harvest deterioration of cassava (MSc 2012). It was during her cassava project on shelf-life extension when she first developed a passion for improving smallholder agriculture. She believes that empowering small shareholder farmers to access markets can make a positive impact on their communities and their communities and their livelihoods.</p>
			<a href="mailto:jacqui@farmingdata.io" class="btn btn-primary">Contact</a>
	</div>
	<div class="card--content align-items-center">
		<img class="card-img-top img-circle" src="img/pic-david-circle.png" alt="David" />
		<h4 class="card-title">David Godding</h4>
		<h6 class="text-muted">CTO and Co-founder</h6>
		<p class="card-text">David has a background in plant disease modelling (PhD 2019)...</p>
		<a href="mailto:david@farmingdata.io" class="btn btn-primary">Contact</a>
	</div>
	<div class="card--content">
			<img class="card-img-top img-circle" src="img/pic-paul-circle.png" alt="David" />
			<h4 class="card-title">Dr. Paul Bergen</h4>
			<h6 class="text-muted">Co-founder</h6>
			<p class="card-text">Paul has a background in bacteriology and infectious diseases. He holds a doctorate from the University of Cambridge (2018). [He sees that] health, food security, and family income are intricately linked, so he believes that giving smallholder farmers the tools and data to reach better markets will greatly improve their quality of life.</p>
			<a href="mailto:paul@farmingdata.io" class="btn btn-primary">Contact</a>
	</div>
	<div class="card--content">
			<img class="card-img-top img-circle" src="img/pic-greg-circle.png" alt="David" />
			<h4 class="card-title">Greg Wilsenach</h4>
			<h6 class="text-muted">Systems Analyst</h6>
			<p class="card-text"></p>
			<a href="mailto:greg@farmingdata.io" class="btn btn-primary">Contact</a>
	</div>
	<div class="card--content">
			<img class="card-img-top img-circle" src="img/pic-kelvin-circle.png" alt="David" />
			<h4 class="card-title">Kelvin Mei</h4>
			<h6 class="text-muted">Developer</h6>
			<p class="card-text">Kelvin is our coding specialist.</p>
			<a href="mailto:kelvin@farmingdata.io" class="btn btn-primary">Contact</a>
	</div>
</section>
