<div class="history">
    <br>
	<div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Our Journey</h2>
            </div>
        </div>
    </div>
	<hr>
	<section id="cd-timeline" class="cd-container">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="img/journey-lightbulb.png" alt="Picture"/>
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2 class="story-heading">How we started</h2>
				<p>Our co-founders met during their PhDs at the University of Cambridge, where they participated in the global Thought for Food challenge. Brought together by their interest in global food security, they began brainstorming ideas on how technology can enable smallholder farmers to earn more for more. They further developed their idea of an integrated platform and successfully pitched it to the Pre-Accelerate program at the Judge Business School.</p>
				<span class="cd-date">2016</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-movie">
				<img src="img/journey-agritecheast.png" alt="College"/>
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
			<h2>Winning the Agri-Tech East GROW award</h2>
				<p>In July, Farming Data won the best Business Plan award, as part of the Agri-Tech East GROW competition. The support they received from their mentors during this competition was fundamental in helping them improve their idea.</p>
				<span class="cd-date">2017</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-picture">
				<img src="img/journey-incubator.png" alt="Picture"/>
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>Starting at the Serious Impact Incubator</h2>
				<p>In November, we accelerated our startup's development at the Allia Serious Impact incubator. This include a focus on prototype development so that it would be ready for piloting in our next phase. Our specific aims were to finalise the platform prototyype so that it works seamlessly between smartphones and basic SMS phones.</p>
				<span class="cd-date">2017</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block-->
		</div>
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-location">
				<img src="img/journey-gettingready.png" alt="Picture"/>
			</div>
			<!-- cd-timeline-img-->
			<div class="cd-timeline-content">
				<h2>Getting ready for our trial</h2>
				<p>For this year's deliverables, we're preparing the necessary groundwork and preparing to trial our platform. We're engaging with several partners interested in testing it out in the field. If you're interested in what we have to offer, sign-up below and join us on our journey!</p>
				<span class="cd-date">2018</span>
			</div>
			<!-- cd-timeline-content-->
			<!-- cd-timeline-block
			<div class="cd-timeline-block">
				<div class="cd-timeline-img cd-location">
					<img src="../assets/img/question30.svg" alt="Location"/>
				</div>
			</div>
			cd-timeline-->
		</div>
	</section>
	<div class="cd-timeline-header">
		<h2></h2>
	</div>
</div>

