<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/imageMapResizer.min.js"></script>
<script>$(document).ready(function(e){$("map").imageMapResize();});</script>

<section id="howItWorks">
	<div class="col-lg-12 text-center">
    	<h2 class="section-heading">How It Works</h2>
		<hr class="primary">
	</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
				<img src="img/vc.png" id="map-image" style="width: 3697px; max-width:100%; height: auto;" />
			</div>
        </div>
    </div>
</section>


<!--
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
   				<div class="chart" id="basic-example"></div>
    			<script src="js/vendor/raphael.js"></script>
    			<script src="js/Treant.js"></script> 
    			<script src="js/basic-example.js"></script>
    			<script>
        			new Treant( chart_config );
    			</script>  
			</div>
        </div>
    </div>
</section>
-->
