<script src="js/popup.js"></script>

<section class="bg-grey" id="portfolio">
	<div class="col-lg-12 text-center">
		<h2 class="section-heading">About Our Team</h2>
		<hr>
	</div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/pic-jacqui-circle.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Dr. Jacqui Poon
                            </div>
                            <div class="project-name">
                               CEO, Cofounder
                            </div>
                            <div class="popup-trigger">
   								<i class="fa fa-plus-circle fa-2x"></i>
                            </div>
                            <div class="popup">
                                Donec in volutpat nisi. In quam lectus, aliquet rhoncus cursus a, congue et arcu. Vestibulum tincidunt neque id nisi pulvinar aliquam. Nulla luctus luctus ipsum at ultricies. Nullam nec velit dui. Nullam sem eros, pulvinar sed pellentesque ac, feugiat et turpis. Donec gravida ipsum cursus massa malesuada tincidunt. Nullam finibus nunc mauris, quis semper neque ultrices in. Ut ac risus eget eros imperdiet posuere nec eu lectus. <span class="popup-btn-close">close</span>
			        	    </div> 
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/pic-david-circle.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Dr. David Godding
                            </div>
                            <div class="project-name">
                               Cofounder
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/pic-paul-circle.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Dr. Paul Bergen
                            </div>
                            <div class="project-name">
                               Cofounder
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
