<section class="issue" id="whats-the-issue">
	<div class="col-lg-12 text-center">
		<h2>What's the Issue?</h2>
		<hr>
	</div>
	<div class="issue-content">
		<div class="issue-content-inner">
			<p>Over 60% of the population in sub-Saharan Africa work in agriculture. Many are smallholder farmers, producing 80% of the domestic food supply. Their earnings from agriculture are a primary source of household income. For example, in Tanzania, 56% of a smallholder's household income comes from farming.</p>
			<p>However, market inefficiency is often an issue. Smallholder farmers face difficulties in selling for better prices and in organising transport logistics.</p>
			<p>Given the majority of low- and lower-middle income families in smallholder agriculture, we believe there's a huge opportunity for innovative digital platforms likes ours to streamline market transactions for both sellers and buyers.</p>
		</div>
	</div>
</section>
